@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #8257E5;
    font-family: 'Roboto', sans-serif;
}

header {
    padding:30px;
    border-bottom: 1px solid white;
    background: rgba(0, 0, 0, 0.1);
}

header div{
    text-align: center;
    padding: 30px;
}

header div a{
    color: white;
    font-size: 18px;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
    
}

header div a:hover {
    color: #50fa7b;
    transition: color 200ms;
    cursor: pointer;
}